.feat-module {
  padding: 20px;
}
.feat-module header {
  font-size: 2rem;
  color: #333;
  font-weight: lighter;
}

.feat-module .items-container .item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
  font-weight: lighter;
  margin-bottom: 20px;
}
.feat-module .items-container .item .file-path {
  padding: 8px 0px 0 0;
  font-size: 1rem;
  width: 100%;
  color: #a0a0a0;
}
.feat-module .items-container .input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 200px;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.feat-module .items-container .input::placeholder {
  color: #d3d3d3;
}
.feat-module .items-container .input:hover {
  border-color: #40a9ff;
  border-right-width: 1px!important;
}
.feat-module .items-container .input:focus {
  border-color: #40a9ff;
  border-right-width: 1px!important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.feat-module .btn {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #666;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s;
}
.feat-module .btn:hover {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}
input {
  background: none;
  outline: none;
  border: 1px solid #ccc;
}
input:focus {
  border: none;
}
